[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "p10k"]
	path = p10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "nnn"]
	path = nnn
	url = https://github.com/jarun/nnn.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "/home/andy/.zshconfig/.fzf-autosize"]
	path = /home/andy/.zshconfig/.fzf-autosize
	url = https://github.com/bigH/auto-sized-fzf.git
[submodule "taskwarrior"]
	path = taskwarrior
	url = https://github.com/GothenburgBitFactory/taskwarrior.git
[submodule "plugins/zsh-users/zsh-syntax-highlighting"]
	path = plugins/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".plugins/zsh-users/zsh-completions"]
	path = .plugins/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".plugins/zsh-users/zsh-autosuggestions"]
	path = .plugins/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".plugins/zsh-users/zsh-history-substring-search"]
	path = .plugins/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
